:root {
    --BGColor: #F3F5FC;
    --StrongColor: #0A3871;
    --OffSetColor: #9B9797;
    --DefaultLight: #E8E8E8;
    --DefaultDark: #000000;
    --DefaultGray: #D8DFE8;
}

body {
    background-color: var(--BGColor);
    height: 100vh;
}

.contenedorInteractuable {
    display: flex;
    gap: 5vw;
    height: fit-content;
}
.contenedorGeneral{
    height: 90vh;
    
}

.ContenedoringresoTexto{
   padding-left: 7rem;
   height: 65vh;
}

.contenedorResultado{
    display: flex;
    flex-direction: column;
    width: 27vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
}

.logo{
    size: 2rem 3rem;
    margin-top: 4vh;
    margin-left: 5vw;
}

.imagenEspera{
    width: 100%;
}

textarea {
    resize: none;
    height: 100%;
    border: 0;
    font-size: 2rem;
    width: 100%;
    
}

.ingresoTexto {
    background-color: transparent;

}

.textoAyuda {
    font-size: 0.7rem;
    margin-bottom: 1vw;
    margin-top: 1vw;

}

.exclamacion{
    font-size: 0.7rem;
    
}

.botonesIngresoTexto{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

button {
    font-size: 1rem;
    width: 23vw;
    height: 7vh;
    max-height: 4rem;
    min-height: 2rem;
    border-radius: 1rem;
    background-color: var(--DefaultGray);
    border-color: var(--StrongColor);
    border-style: solid;
    color: var(--StrongColor);
}

button:hover {
    background-color: var(--DefaultLight);
    color: var(--StrongColor);
}
.botonEncriptar{
    background-color: var(--StrongColor);
    color: var(--DefaultLight);
}


.contenedorResultado{
    background-color: white;
    padding: 2rem;

}

.textoMsjNoEncontrado{
    font-size: 1.5rem;
}

.textoAyudaResultado{
    font-size: 1rem;
}

.resultadoConRespuesta {
    display: none;
    height: 80%;

}

.txtResultado{
    font-size: 1.5rem;
    background-color: transparent;

}


.footer {
    text-align: center;

}